/* ------------------------------
  common.scss
------------------------------ */

:root {
  --padding: 16px;
}

@media (min-width:$tb) {
  :root {
    --padding: 30px;
  }
}

@media (min-width:$pc) {
  :root {
    --padding: 60px;
  }
}

@media (min-width:$pc-big) {
  :root {
    --padding: 90px;
  }
}


[data-theme="light"] {
  --bg-color: #F9F6F9;
  --text-color: #150E13;
  --border-color: #150E13;
  --primary: #9C658E;
  --primary-bg: #F8F6F9;
  --secondary: #817658;
  --secondary-bg: #EEEBE8;
  --outer: #D3BCCD;
  --box-bg: #FFFFFF;

}

[data-theme="dark"] {
  --bg-color: #090609;
  --text-color: #F1EAEF;
  --border-color: #48422E;
  --primary: #7A5070;
  --primary-bg: #251823;
  --secondary: #59533A;
  --secondary-bg: #191513;
  --outer: #251823; //#3e1833;
  --box-bg: #080609;

  // custom CSS for dark mode :
  .header {
    &__name {
      color: var(--text-color);
    }

    &__icon {
      background: var(--text-color);

      &::before,
      &::after {
        background: var(--text-color);
      }
    }
  }

  .header-mode-switch {
    &:hover {
      background-color: var(--primary-bg);
    }

    &::after {
      background-color: var(--text-color);
      mask: url("/img/sun.svg") 50% 50% / contain no-repeat;
    }
  }

  .header-menu {
    border-top: 1px solid var(--text-color);

    @media (min-width: $tb) {
      border-top: 0;
    }
  }

  .header-menu-list__item a {
    color: var(--text-color);
  }

  .sns-box--footer .sns-box__item a,
  .sns-box__item a {
    background-color: var(--text-color);
  }

  .ly-box--contact {
    background-color: #371f34;
  }

}

* {
  box-sizing: border-box;
}

body {
  @include lora;
  width: 100%;
  background-color: var(--outer);
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.5;
  overflow-wrap: break-word;
  word-break: break-word;

  &.is-fixed {
    overflow: hidden;
  }
}



a {
  color: var(--text-color);
  text-decoration: none;
}

img {
  width: 100%;
}

.--sp {
  display: block;
}

.--tb {
  display: none;
}

.--pc {
  display: none;
}

.outer-container {
  margin: 16px;
  overflow: hidden;
  border: 2px solid var(--border-color);
}

.title {
  @include abril;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
  font-size: clamp(30px, 6vw, 60px);

  &::before {
    content: "";
    display: inline-block;
    width: 50px;
    height: 2px;
    background-color: var(--primary);
  }
}


@media (min-width:$tb) {
  body {
    font-size: 18px;

    &.is-fixed {
      overflow: unset;
    }
  }

  .--sp {
    display: none;
  }

  .--tb {
    display: block;
  }

  .outer-container {
    margin: 24px;
  }

  .title {

    &::before {
      height: 3px;
    }
  }
}

@media (min-width:$pc) {
  .--tb {
    display: none;
  }
  .--pc {
    display: block;
  }
}

